input[type=text],
input[type=search],
input[type=email],
input[type=password],
textarea {

}
input[type=search] {
	width: 100%;
}
label {
}
input[type=submit],
button {
}
input[type=checkbox],
input[type=radio] {
	
}
fieldset {

}
legend {

}
textarea {
	display: block;
	width: 100%;
}
