table {
	table-layout: fixed;
	width: 100%;
	background-color: #eee;
}
th {
	background-color: #ddd;
	text-align: left;
	padding: 5px 10px;
	border: 1px solid #AFAFAF;
}
td {
	padding: 5px 10px;
	border: 1px solid #AFAFAF;
}